window {
    margin: 0px;
    border: 10px solid #1e1e2e;
    background-color: #555555;
    border-radius: 20px;
}

#input {
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    border: none;
    color: #777777;
    font-weight: bold;
    background-color: #1e1e1e;
    /* background: ; */
   	outline: none;
    border-radius: 20px;
    margin: 10px 13px;
    margin-bottom: 2px;
}
#input:focus {
    border: 0px solid #ffffff;
    margin-bottom: 0px;
}

#inner-box {
    margin: 4px;
    border: 20px solid #010101;
    color: #ababab;
    font-weight: bold;
    background-color: #010101;
    /* background-color: red; */
    border-radius: 20px;
}

#outer-box {
    margin: 0px;
    border: 3px solid #555555;
    border-radius: 20px;
    background-color: #111111;
}

#scroll {
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    margin-bottom: 5px;
}

#img{
    margin-right: 10px;
}

#img:selected {
    background-color: #444444;
    margin-right: 10px;
    border-radius: 10px;
}

#text:selected {
    color: #333333;
    color: black;
    margin: 0px 0px;
    border: none;
    border-radius: 10px;
    background-color: #010101;
}

#entry {
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
}

#entry:selected {
    margin: 0px 0px;
    border: none;
    border-radius: 5px;
    background-color: #010101;
}
